h1
{
    color: azure;
    font-size: 34px;
    text-decoration: double;
}


.container
{
    max-width: 500px;
    width: 280%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;   
}

h2
{
    font: 20px;
    font-weight: bold;
    color: #fff;
    padding: 25px 0 30px 25px;
    background: rgba(77, 19, 93, 0.7);
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1

}

.form
{
    width: 500%;
    height: 200%;
    padding: 0.5rem;
    align-items: center;
}

form.box
{
    width: 600%;
    height:500px;
    margin-bottom: 1rem;
    position: relative;
}

form.box span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #a931a3;
}

form.box input, form.box textarea
{
    width: 1200px;
    height: 300%;
    background: rgba(252,252,252,0.7);
    padding-left: 3rem;
    color: #a931a3;
}

form textarea
{
    padding-top: 1.2rem;
    height: 100px !important;
    resize:none;
}

form input:focus, form textarea:focus
{
    border : 1px solid #a931a3

}
::placeholder
{
    color: #f50707;
}

button
{
    width: 150px;
    height: 50px;
    color: #fff;
    background:#a931a3;
    cursor: pointer;
    margin-top: 4rem;
    transition: 2s ease-in-out;
}

form button:hover
{
    background:#ff1da8;
}

footer
{
    color: #000000;
    background:rgba(219, 201, 241, 0.9);
    text-transform: uppercase;
    animation: alternate-reverse;
    position: relative;
    font-size: xx-large;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    animation: alternate-reverse;
}

footer:hover
{
    color: aquamarine;
    animation: alternate-reverse;
}